[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
torch = "*"
pandas = "*"
transformers = "*"
jupyterlab = "*"
ruff-lsp = "*"
catppuccin-jupyterlab = "*"
jupyter-black = "*"
scikit-learn = "==1.3.2"
jupyterlab-vim = "*"
pyarrow = "*"
torchdata = "==0.7.1"
torchtext = "==0.16.1"
portalocker = "==2.8.2"
tensorboard = "==2.15.1"
evaluate = "*"
chromadb = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.11"
